.backgroundd{
   
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: aliceblue;
 
     #tsparticles {
        height: 100vh;
        // width: 100vw;

       }


    // height: 100vh;
}